<p>home works!</p>

<div class="home__container">
    <app-card
        gameCover="https://image.api.playstation.com/cdn/UP0006/CUSA08724_00/knyiQNrzbp6tEe8t04AYRhhJUF5wLIGO.png"
        gameLabel="EXCLUSIVE"
        gameType="DIGITAL | PS4">
    </app-card>
    <app-card
        gameCover="https://m.media-amazon.com/images/I/81vTqGZ+37L._AC_UF1000,1000_QL80_.jpg"
        gameLabel="DIGITAL"
        gameType="DISC | PS5" 
        gamePrice="269,99">
    </app-card>
    <app-card
    gameCover="https://m.media-amazon.com/images/I/817oumYSwcL._AC_UF1000,1000_QL80_.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS4"
    gamePrice="299,99"
    >

    </app-card>

</div>